<header>
    <nav>
        <div class="nav-left" style="display: flex; align-items: center; gap: 1rem;">
            <% if (locals.currentPath && locals.currentPath.startsWith('/admin')) { %>
                <a href="/" class="link-header btn-outline link-dark">← Site Normal</a>
                <h1><a href="/admin" class="logo text-dark">EduStream</a></h1>
            <% } else { %>
                <h1><a href="/" class="logo">EduStream</a></h1>
            <% } %>
        </div>

        <div class="nav-links">
            <% if (locals.user) { %>

                <% if (!locals.currentPath.startsWith('/admin')) { %>
                    <span><a href="/profiles/explorer" class="link-header <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'text-dark' : '' %>">
                        Explorar
                    </a></span>
                <% } %>

                <% if (locals.currentPath.startsWith('/account') && !locals.currentPath.startsWith('/admin')) { %>
                    <span><a href="/account/favoritos" class="link-header <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'text-dark' : '' %>">
                        Favoritos
                    </a></span>
                <% } %>

                <% if (!locals.currentPath.startsWith('/account') && !locals.currentPath.startsWith('/admin')) { %>
                    <span><a href="/books/add" class="link-header <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'text-dark' : '' %>">
                        Novo Livro
                    </a></span>
                <% } %>
                
                <% if(!locals.currentPath.startsWith('/admin')) { %>
                    <span><a href="/account/profile" class="link-header <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'text-dark' : '' %>">
                        Olá, <%= user.username %>!
                    </a></span>
                <% } else { %>
                    <span><a href="/admin/usuario/<%= user.id %>" class="link-header <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'text-dark' : '' %>">
                        Olá, <%= user.username %>!
                    </a></span>
                <% } %>
                <h2><a href="/account/logout" class="link-header btn-outline <%= (locals.currentPath && currentPath.startsWith('/admin')) ? 'link-dark border-dark' : '' %>">
                    Sair
                </a></h2>

            <% } else { %>

                <h2><a href="/account/login" class="link-header">Fazer Login</a></h2>
                <h2><a href="/account/register" class="link-header btn-outline">Criar Conta</a></h2>

            <% } %>
        </div>
    </nav>
</header>

<% if (error && error.length > 0) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
<% } %>

<% if (success && success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>
